<!-- <body>

  <div class="offcanvas offcanvas-end" id="demo">
    <div class="offcanvas-header">
      <h1 class="offcanvas-title">Heading</h1>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
      <p>Some text lorem ipsum.</p>
      <p>Some text lorem ipsum.</p>
      <p>Some text lorem ipsum.</p>
      <button class="btn btn-secondary" type="button">A Button</button>
    </div>
  </div>
  
  <div class="container-fluid mt-3">
    <h3>Right Offcanvas</h3>
    <p>The .offcanvas-end class positions the offcanvas to the right of the page.</p>
    
  </div>
  
  </body> -->

<div class="container"  style="margin-left: 35%;margin-top: 5%;" >
    <div class="row" style="width:100% " >
      <div class="col-md-4"   >
        <div class="thumbnail">
            <h3 style="text-align: right; font-family: sans-serif;"> {{pr.name}}</h3>
             <img src="https://localhost:44322/pictuers/{{pr.image}}.jpg" style="width:60% "   alt="Lights">
            <div class="caption">
                <p style="font-family: cursive;">{{pr.idCategory}}  :קטגוריה</p>
                <p style="font-family: cursive;">{{pr.color}}  :צבע</p>
                <p style="font-family: cursive;">{{pr.countStock}}  :כמות שנשאר</p>
                <p style="font-family: cursive;">₪{{pr.price}}  :מחיר</p>
                <button type="button" class="btn btn-outline-secondary" data-bs-toggle="tooltip" routerLink="/Home">חזרה לתפריט</button>
               
             </div>
              
      </div></div>
    </div>
</div>
