<html lang="en">
<head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<!-- <select (change)="changSelect($event)">
  <option *ngFor="let c of myDatC" [value]="c.id">{{c.name}}</option>
</select> -->
<body>
    <br>    
    <div class="container" >
        <div class="row" style="width:100% " >
          <div class="col-md-4"  *ngFor="let i of myDataProducts" >
            <div class="thumbnail">
                <h3 style="text-align: right; font-family: sans-serif;"> {{i.name}}</h3>
 
                 <img src="https://localhost:44322/pictuers/{{i.image}}.jpg" class="img-thumbnail" appMyDairective alt="Cinque Terre" width="250" height="200">
                 <button class="btn btn-outline-secondary" routerLink="/Detail/{{i.id}}">פרטים נוספים</button>  
                 <button type="button" class="btn btn-outline-secondary" data-bs-toggle="tooltip" (click)="shop(i)" appMyDairective title="אני רוצה להוסיף את הפריט הזה לסל שלי" data-toggle="modal"  data-target="#myModal">
                  הוסף לסל
                </button>
                 <!-- <button type="button" class="btn btn-outline-secondary" data-bs-toggle="tooltip" (click)="shop(i)" appMyDairective title="אני רוצה להוסיף את הפריט הזה לסל שלי">
                     הוסף לסל
                    </button>                   -->
                  <script>
                  var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
                  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                    return new bootstrap.Tooltip(tooltipTriggerEl)
                  })
                  </script>    
                <div class="caption">
                    <p style="text-align: right;">{{i.color}}</p>
                    <p style="font-family: cursive;" >₪{{i.price}}</p> </div>
                  
          </div></div>
        </div>
</div>

</body>
</html>

<div class="container">
         
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">                               
        <div class="modal-footer">
          <body>

            <div class="container mt-3">
              <!-- <img src="../../../assets/product/s.jpg" style="width: 3%;height: 10%;"> -->
              <h2>!!!!הסל שלי</h2>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>שם מוצר</th>
                   <th>כמות</th> 
                    <th>מחיר ליחידה</th>
                   
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let i of servShop.myListShoping">
                    <td>{{i.name}}</td>
                    <td>{{i.amount}}</td>
                    <td>₪{{i.price}}</td>
                  </tr>
                </tbody>
              </table>

            </div>
            
            </body>
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">סגור</button>
        </div>
        </div>
  </div>   
</div> 
  
 

<router-outlet></router-outlet> 