<div class="ddd" *ngIf="!isFound">


<br><br><br><br><br><br><br><h1>שלום נא הכנס נתונים</h1>
<!-- <button *ngIf="isFound">יציאה</button>
<button *ngIf="isFound">חזרה</button> -->

<body>    
    <div>
      <form action="/action_page.php">
        <input type="text" id="fname" name="name" [(ngModel)]="myShelter.firsName" placeholder="שם פרטי">  <br> 
        <input type="text" id="lname" name="number"  [(ngModel)]="myShelter.tz" placeholder="מ.זהות"> <br>     
        <input type="submit" value="Submit" (click)="ok()" >
      </form>
    </div>    
</body>
<h4 *ngIf="isFound1">😒😒אינך רשום או שאחד הפרטים שגויים</h4></div>
<router-outlet></router-outlet>