<body>
  
<div class="container mt-3">
    <button (click)="add()" class="btn btn-outline-secondary">להוספת פריט</button>
    <select (change)="changSelect($event)">
      <!-- במקרה שנירצה להציב מאחורה קוד ולא שם ניכתוב
      [value]="c.id" -->
      <option *ngFor="let c of myDatC" [value]="c.id">{{c.name}}</option>
  </select>
   <div class="input-group mb-3">
      <form *ngIf="is" (ngSubmit)="ok()">
      <span class="input-group-text" *ngIf="isEdit">פריט:{{p.id}}</span>
      <input type="text" class="form-control" placeholder="הכנס שם" [(ngModel)]="p.name" name="name"/> 
      <input type="text" class="form-control" placeholder="קטגוריה הכנס קוד" [(ngModel)]="p.idCategory" name="idCategory"/> 
      <input type="text" class="form-control" placeholder="הכנס צבע" [(ngModel)]="p.color" name="color"/> 
      <input type="text" class="form-control" placeholder="הכנס מחיר" [(ngModel)]="p.price" name="price"/> 
      <input type="text" class="form-control" placeholder="הכנס תמונה" [(ngModel)]="p.image" name="image"/> 
      <input type="text" class="form-control" placeholder="הכנס כמות במלאי" [(ngModel)]="p.countStock" name="countStock"/> 
      <input type="submit" class="btn btn-outline-secondary" />
   </form> </div>
 <table class="table">
   <thead class="table-success">
     <tr>
         <th>קוד פריט</th>
         <th>שם פריט</th>
         <th>קוד קטגוריה</th>
         <th>כמות במלאי</th>
         <th>צבע פריט</th>
         <th>מחיר</th>
         <th>תמונה</th>
         <th></th>
         <th></th>
     </tr>
   </thead>
   <tbody>
    <tr *ngFor="let i of myDataProducts">
        <td>{{i.id}}  </td>
        <td>{{i.name}}</td>
        <td>{{i.idCategory}}</td>
        <td>{{i.countStock}}</td>
        <td>{{i.color}}</td>
        <td>{{i.price}}</td>
        <td><img src="https://localhost:44322/pictuers/{{i.image}}.jpg" class="img-thumbnail" alt="Cinque Terre" width="100" height="100">
     </td>
     <td><button class="btn btn-outline-secondary" (click)="delete(i.id)"> מחיקת פריט </button></td>
     <td><button  class="btn btn-outline-secondary" (click)="update(i)"> עדכון פריט </button></td>
     </tr>
   </tbody>
 </table>

</div>

</body>
