<div class="ddd">
   <div *ngIf="!isNewExit"><br><br><br><br><br><br><br><br><br><br><br><br>
    <button *ngIf="!iReturned"   type="button" class="btn btn-outline-danger" (click)="newExit()">אני רוצה לצאת</button><br><br><br><br>
  </div> 
  <div *ngIf="isNewExit">
    <!-- <form><br><br><br>
          <input type="text" class="form-control" placeholder="idPlaceFixed"><br>
          <input type="text" class="form-control" placeholder="Enter email"><br>
          <input type="date" class="form-control" placeholder="Enter email" style="width: 30%;margin-left: 35%;">
          <input type="text" class="form-control" placeholder="Enter email"><br>
          <input type="text" class="form-control" placeholder="Enter email"><br>
    </form> --><br><br><br>
    <select  class="form-select" [(ngModel)]="nameExitType">
      <option *ngFor="let s of myExitType" [ngValue]="s">
          {{s.name}}
      </option>
  </select>
  </div>
<h1 *ngIf="iReturned">??האם חזרת מ: {{myExit.address}}</h1>
<button *ngIf="iReturned" type="button" class="btn btn-outline-success" (click)="exit()">חזרתי</button>
